{% extends 'base.html' %}

{% block title %}Urls List{% endblock %}
{% block content %}
<style>
table, th, td {
  border:1px solid black;
}
</style>

<table style="width:100%">
    <tr>
        <th>ShortUrl</th>
        <th>OriginalUrl</th>
        <th>Created at</th>
        <th>Clicks</th>
        <th>Last Access</th>
    </tr>
    {% if shortened_url %}
        {% for short_url in shortened_url %}
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/shortener/{{ short_url.short_url }}" target="_blank">
                        http://127.0.0.1:8000/shortener/{{ short_url.short_url }}
                    </a>
                </th>
                <th>
                    {{ short_url.original_url }}
                </th>
                <th>
                    {{ short_url.created_at }}
                </th>
                <th>
                    {{ short_url.clicks }}
                </th>
                <th>
                    {{ short_url.last_access }}
                </th>
            </tr>
            
        {% endfor %}
    {% endif %}
</table>
{% endblock %}